!!! 5
html(xmlns:ng='http://angularjs.org/')
  head
    meta(charset='utf-8')
    title Open Business
    link(rel='stylesheet', href='css/app.css', media='screen')
    link(rel='stylesheet', href='css/print.css', media='print')
  body(ng:controller='AppController')
    .help.overlay(onclick='$(\'.help\').hide()')
    .noPrint(style='position: fixed; width: 100%; height: 22px; bottom: 0px; text-align: right;')
      div(style='display: inline-block; height: 22px; padding: 3px 4px; margin-right: 282px; border-radius: 5px 5px 0 0; color: #aaa; background: url(\'img/background-small.png\'); cursor: pointer; font-family: Helvetica; font-size: 14px;', onclick='$(\'.help\').show()') Help
    table(ng:show='currentUser', style='display: none;')
      tr(style='height: 10px;')
        td.noPrint(style='width: 100px;', ng:show='currentUser')
          .fullheight(style='background-color: white; border-radius: 7px; color: black;')
            div(style='padding: 7px 5px;')
              a(href='#')
                img(src='img/logo.png', style='width: 110px;')
            div(style='padding-left: 5px;')
              button(style='margin-top: 1em; margin-bottom: 1em; font-weight: bold; height: 2em; color: blue;', ng:click='nextTask()') Next action
              br
              button Create task
              br
              button(style='margin-top: 8px;', ng:click='newRFQ()') New RFQ
              br
              button(style='margin-top: 8px;', ng:click='newPO()') New PO
              br
            div(style='padding: 5px 5px 1px 5px;')
              table
                tr
                  td
                    a(href='href', ng:click='signout()')
                      img(ng:src='avatars/{{currentUser.avatar}}.png', style='border-radius: 5px; width: 48px;', ng:show='currentUser.avatar')
                  td {{currentUser.name}}
            .process_history(style='padding: 5px;', ng:show='process_history')
              .box
                .title RFQ to Quote
                .text(style='background-color: #B6CDE4;') Mike
                .box(ng:repeat='p in process_history')
                  .title {{p[0]}}
                  .text {{p[1]}}
            .help.bubble.left
              | These are a list of tasks
              br
              | only you can access
            .process_history(style='padding: 5px;', ng:show='tasks')
              .box
                .title Personal Tasks
                .box(ng:repeat='p in tasks')
                  .title {{p[0]}}
                  .text(ng:repeat='t in p[1]') {{t}}
            .help.bubble.left
              | These are a list of tasks the
              br
              | entire sales team can access
            .process_history(style='padding: 5px;', ng:show='tasks')
              .box
                .title Sales department
                .box
                  .text(ng:repeat='t in dept_tasks') {{t}}
        td(style='height: 100%;')
          ng:view(style='height: 100%; display: block;')
    div(style='text-align: center; display: none;', ng:show='currentUser == null')
      ng:include(src='\'signin.html\'', ng:controller='SigninController')

    script(src='/lib/jquery/jquery-1.6.2.min.js')
    script(src='/lib/jquery/autoresize.jquery.js')
    script(src='/lib/angular/angular.js', ng:autobind='ng:autobind')
    script(src='js/countries.js', type='text/javascript')
    script(src='js/services.js')
    script(src='/app/js/controllers.js')
    script(src='js/filters.js')
    script(src='js/widgets.js')
    script(src='/socket.io/socket.io.js')
    //
       begin olark code 
    script(type='text/javascript')
      /*{literal}<![CDATA[*/if(false){window.olark||(function(i){var e=window,h=document,a=e.location.protocol=="https:"?"https:":"http:",g=i.name,b="load";(function(){e[g]=function(){(c.s=c.s||[]).push(arguments)};var c=e[g]._={},f=i.methods.length; while(f--){(function(j){e[g][j]=function(){e[g]("call",j,arguments)}})(i.methods[f])} c.l=i.loader;c.i=arguments.callee;c.f=setTimeout(function(){if(c.f){(new Image).src=a+"//"+c.l.replace(".js",".png")+"&"+escape(e.location.href)}c.f=null},20000);c.p={0:+new Date};c.P=function(j){c.p[j]=new Date-c.p[0]};function d(){c.P(b);e[g](b)}e.addEventListener?e.addEventListener(b,d,false):e.attachEvent("on"+b,d); (function(){function l(j){j="head";return["<",j,"></",j,"><",z,' onl'+'oad="var d=',B,";d.getElementsByTagName('head')[0].",y,"(d.",A,"('script')).",u,"='",a,"//",c.l,"'",'"',"></",z,">"].join("")}var z="body",s=h[z];if(!s){return setTimeout(arguments.callee,100)}c.P(1);var y="appendChild",A="createElement",u="src",r=h[A]("div"),G=r[y](h[A](g)),D=h[A]("iframe"),B="document",C="domain",q;r.style.display="none";s.insertBefore(r,s.firstChild).id=g;D.frameBorder="0";D.id=g+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){D.src="javascript:false"} D.allowTransparency="true";G[y](D);try{D.contentWindow[B].open()}catch(F){i[C]=h[C];q="javascript:var d="+B+".open();d.domain='"+h.domain+"';";D[u]=q+"void(0);"}try{var H=D.contentWindow[B];H.write(l());H.close()}catch(E){D[u]=q+'d.write("'+l().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}c.P(2)})()})()})({loader:(function(a){return "static.olark.com/jsclient/loader0.js?ts="+(a?a[1]:(+new Date))})(document.cookie.match(/olarkld=([0-9]+)/)),name:"olark",methods:["configure","extend","declare","identify"]});
      /* custom configuration goes here (www.olark.com/documentation) */
      olark.identify('9877-850-10-6571');}/*]]>{/literal}*/
    //
       end olark code 
